.board {
  max-width: 600px;
  max-height: 600px;
  width: 60vw;
  height: 60vw;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  position: relative;

  & .square {
    &.light {
      background-color: #d9e0e6;
    }
    &.dark {
      background-color: #315991;
    }
  }
  & img {
    width: 12.5%;
    height: 12.5%;

    position: absolute;
  }
}
